.main-header {
  p {
    margin: 0;
  }
  .upper {
    .left {
      .burger {
        .line {
          @apply w-5 bg-secondary;
          margin: 4px;
          height: 2px;
        }
      }
    }
    .right {
      svg {
        font-size: 20px;
        cursor: pointer;
      }
    }
  }
  .down {
    p {
      @apply m-0 p-1;
    }
  }
}

// .ant-tabs {
//   .ant-tabs-ink-bar {
//     @apply w-14 bg-brand;
//   }
// }
