.task {
  padding: 6px 10px;
  padding-left: 15px;
  &:hover {
    .abs-actions,
    .before-actions {
      i {
        opacity: 1;
        visibility: visible;
      }
    }
  }

  .abs-actions {
    i {
      svg {
        @apply text-gray-600;
        font-size: 16px;
      }
    }
  }

  .abs-actions,
  .before-actions {
    i {
      opacity: 0;
      visibility: hidden;
    }
    .visib {
      opacity: 1;
      visibility: visible;
    }
  }
}
