@import "~antd/dist/antd.css";
@import "colors";
@import "font";
@import "classes";
@import "./pages/auth";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: $inter;
  overflow-x: hidden;
  background-color: $btnClr;
  color: $primary;
}
